model{
  cnn {
    image_resizer {
      fixed_shape_resizer {
        resize_method: 0
        convert_to_grayscale: true
        height: 160
        width: 60
      }
    }
    keep_prob: 0.75
    w_alpha:0.01
    b_alpha:0.1
    num_chars:6
    chars: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '_']
  }
}
train_config {
  batch_size: 64
  num_steps: 700000
}

train_data_generator {
  real_data_percent:0.05
  max_num_chars:6
  min_num_chars:6
  chars: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
  src_real_path:"/sdb/hugo/data/pic/recognize/train/cut"
  src_captcha_path:"/sdb/hugo/data/pic/recognize/train/captcha"
  output_path:"/sdb/hugo/data/pic/recognize/train.tfrecord"
  is_generate_captcha:True
}

eval_data_generator {
  max_num_chars:6
  chars: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
  src_real_path:"/sdb/hugo/data/pic/recognize/test"
  output_path:"/sdb/hugo/data/pic/recognize/test.tfrecord"
  is_generate_captcha:False
}

train_input_reader {
  shuffle:false
  tf_record_input_reader {
    input_path: "/sdb/hugo/data/pic/recognize/train.tfrecord"
  }
  num_parallel_batches:8
  num_parallel_map_calls:64
  num_prefetch_batches:-1
}

eval_config {
  batch_size:1
}

eval_input_reader {
  shuffle:false
  num_parallel_map_calls:1
  num_parallel_batches: 1
  num_epochs:1
  tf_record_input_reader {
    input_path: "/sdb/hugo/data/pic/recognize/test.tfrecord"
  }
}
